@import "./dashboard-top/dashboard-top.scss";
@import "./dashboard-top/dashboard-top__desktop.scss";
@import "./dashboard-top/dashboard-top__tablet.scss";

@import "./dashboard-list/dashboard-list.scss";
@import "./dashboard-list/dashboard-list__tablet.scss";

@import "./dashboard-bottom/dashboard-bottom.scss";
@import "./dashboard-bottom/dashboard-bottom__tablet.scss";

@media (min-width: 1250px) {
  .dashboard {
    width: 306px;
  }
}

@media (max-width: 1249px) {
  .dashboard {
    width: 250px;
  }
}

@media (max-width: 1026px) {
  .dashboard {
    width: 200px;
  }
}

@media (max-width: 991px) {
  .dashboard {
    width: 100%;
    padding: 36px 0;
  }
}

@media (max-width: 991px) {
  .dashboard__container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 992px) {
  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes slide-from-bottom {
    0% {
      transform: translateY(100%);
    }

    100% {
      transform: translateY(0);
    }
  }

  .dashboard-slide-in {
    animation: slide-in 1.5s ease-out forwards;
  }

  .customer__card-slide-from-bottom {
    animation: slide-from-bottom 1.5s ease-out forwards;
  }

  .dashboard-hidden,
  .customers__card--hidden {
    visibility: none;
  }
}
