//normalize and reset styles
@import "./normalize.css";
@import "./reset.css";

//mixins
@import "./mixins.scss";

* {
  font-family: "Poppins";
}

@media (min-width: 992px) {
  .wrapper {
    display: flex;
    height: 100%;
  }
}

//Dashboard
@import "./dashboard/dashboard.scss";

//Customers
@import "./customers/customers.scss";

@media (max-width: 735px) {
  .wrapper {
    width: 100vh;
  }
}
