@media (max-width: 991px) {
  .dashboard__container {
    position: relative;
  }

  .dashboard__bottom {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    bottom: 60%;
    gap: 12px;
  }

  .dashboard__author {
    &-title {
      @include medium-text;
      text-align: center;
    }
    &-subtitle {
      @include regular-text;
      color: #757575;
      text-align: center;
    }
  }
}

@media (max-width: 568px) {
  .dashboard__author {
    &-title {
      display: none;
    }
    &-subtitle {
      display: none;
    }

    &-image {
      width: 55px;
      height: 55px;
    }
  }
}

@media (max-width: 568px) {
  .dashboard__bottom {
    bottom: 60%;
  }
}
